<nav class="navbar
            navbar-dark
            bg-dark
            navbar-expand-lg
            mx-auto
            my-3
            mw-75">
  <div class="container-fluid px-3">
    <%= render 'components/navbar/brand' %>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%= user_signed_in? ? render('components/navbar/user_dropdown') : render('components/navbar/auth_dropdown') %>
      </ul>
    </div>
  </div>
</nav>