<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"
     href="#"
     id="navbarDropdown"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">
    <%= image_tag 'no_avatar.svg', class: 'avatar' %>
  </a>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
    <li>
      <%= link_to tag.i(class: 'bi bi-person me-2') + 'Profile',
                  show_profile_path(current_user.handle),
                  class: 'dropdown-item' %>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to tag.i(class: 'bi bi-door-closed me-2') + 'Sign out',
                  destroy_user_session_path,
                  class: 'dropdown-item text-danger' %>
    </li>
  </ul>
</li>