<% content_for :styles do %>
  <style>
      html, body, .container {
          height: 100%;
      }
  </style>
<% end %>

<% content_for :body do %>
  <div class="container auth-form-container d-flex">
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>